@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-6-0.woff2") format("woff2"), url("../fonts/2CA963-6-0.woff") format("woff"), url("../fonts/2CA963-6-0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-7-0.woff2") format("woff2"), url("../fonts/2CA963-7-0.woff") format("woff"), url("../fonts/2CA963-7-0.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-0-0.woff2") format("woff2"), url("../fonts/2CA963-0-0.woff") format("woff"), url("../fonts/2CA963-0-0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-1-0.woff2") format("woff2"), url("../fonts/2CA963-1-0.woff") format("woff"), url("../fonts/2CA963-1-0.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-3-0.woff2") format("woff2"), url("../fonts/2CA963-3-0.woff") format("woff"), url("../fonts/2CA963-3-0.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-5-0.woff2") format("woff2"), url("../fonts/2CA963-5-0.woff") format("woff"), url("../fonts/2CA963-5-0.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-9-0.woff2") format("woff2"), url("../fonts/2CA963-9-0.woff") format("woff"), url("../fonts/2CA963-9-0.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/2CA963-B-0.woff2") format("woff2"), url("../fonts/2CA963-B-0.woff") format("woff"), url("../fonts/2CA963-B-0.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
/* Support Older IE */
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-6-0.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-7-0.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-0-0.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-1-0.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-3-0.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-5-0.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-9-0.eot") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IntroOldIE";
  src: url("../fonts/2CA963-B-0.eot") format("embedded-opentype");
  font-weight: 600;
  font-style: italic;
}
/* Caps Needs to be a Separate Family */
@font-face {
  font-family: "IntroCaps";
  src: url("../fonts/2CA963-4-0.eot");
  src: url("../fonts/2CA963-4-0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CA963-4-0.woff") format("woff"), url("../fonts/2CA963-4-0.woff2") format("woff2"), url("../fonts/2CA963-4-0.ttf") format("truetype"), url("../fonts/2CA963-4-0.svg#wf") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IntroCaps";
  src: url("../fonts/2CA963-8-0.eot");
  src: url("../fonts/2CA963-8-0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CA963-8-0.woff") format("woff"), url("../fonts/2CA963-8-0.woff2") format("woff2"), url("../fonts/2CA963-8-0.ttf") format("truetype"), url("../fonts/2CA963-8-0.svg#wf") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IntroCaps";
  src: url("../fonts/2CA963-A-0.eot");
  src: url("../fonts/2CA963-A-0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CA963-A-0.woff") format("woff"), url("../fonts/2CA963-A-0.woff2") format("woff2"), url("../fonts/2CA963-A-0.ttf") format("truetype"), url("../fonts/2CA963-A-0.svg#wf") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IntroCaps";
  src: url("../fonts/2CA963-2-0.eot");
  src: url("../fonts/2CA963-2-0.eot?#iefix") format("embedded-opentype"), url("../fonts/2CA963-2-0.woff") format("woff"), url("../fonts/2CA963-2-0.woff2") format("woff2"), url("../fonts/2CA963-2-0.ttf") format("truetype"), url("../fonts/2CA963-2-0.svg#wf") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* New intro variations for the new consumer nav */
@font-face {
  font-family: "Intro Light W05";
  src: url("../fonts/97e479cd-7898-467c-9075-82c1d8faa40c.woff2") format("woff2"), url("../fonts/6170170b-3d7c-4b22-b99e-51fdd74bc644.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Intro Regular W05";
  src: url("../fonts/3212d085-bd6a-4e52-a1a3-41cf21fd5e97.woff2") format("woff2"), url("../fonts/59550b43-38c4-4a50-996a-3d9595e7c875.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Intro Condensed W05";
  src: url("../fonts/ae71928a-4836-46d9-97e5-a02cfc9f4613.woff2") format("woff2"), url("../fonts/ddf60796-5158-422c-963e-95a36e536d3c.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.customBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 11px 20px;
  text-align: center;
  font-family: "Intro";
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.32px;
  color: #2c2c2c;
  text-transform: uppercase;
  background-color: #FCD800;
  border-radius: 25px;
  text-decoration: none;
}
.customBtn:hover {
  text-decoration: none;
  color: #2c2c2c;
}
.customBtn--border {
  background-color: #fff;
  border: 2px solid #FCD800;
}

.whatsApp-banner {
  padding-top: 40px;
  background-color: #004364;
}
.whatsApp-banner-title {
  color: #fff;
  font-family: "Intro";
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-top: 60px;
}
@media (max-width: 768px) {
  .whatsApp-banner-title {
    padding-top: 0;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
    text-align: center;
  }
}
.whatsApp-banner-desc {
  font-family: "Intro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
  padding-bottom: 114px;
}
@media (max-width: 768px) {
  .whatsApp-banner-desc {
    text-align: center;
    padding-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .whatsApp-banner-desc {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}
.whatsApp-banner-desc span {
  font-weight: 700;
  position: relative;
}
.whatsApp-banner-desc span:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -4px;
  height: 4px;
  background-color: #FCD800;
}
.whatsApp-banner .mobile-btn {
  text-align: center;
  margin-bottom: 70px;
}
.whatsApp-banner .mobile-btn .customBtn {
  display: inline-flex;
}
.whatsApp-features {
  padding: 90px 0 0;
}
@media (max-width: 768px) {
  .whatsApp-features {
    padding: 48px 0 0;
  }
}
.whatsApp-features-title {
  font-family: "Intro";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
@media (max-width: 768px) {
  .whatsApp-features-title {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 575px) {
  .whatsApp-features-title {
    text-align: center;
  }
}
.whatsApp-features-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}
@media (max-width: 575px) {
  .whatsApp-features-row {
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
  }
}
.whatsApp-features-row .item {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .whatsApp-features-row .item {
    flex-direction: column;
    align-items: center;
  }
}
.whatsApp-features-row .item-icon {
  min-width: 64px;
  height: 64px;
}
@media (max-width: 768px) {
  .whatsApp-features-row .item-icon {
    min-width: 64px;
    max-width: 64px;
    height: 64px;
  }
}
.whatsApp-features-row .item-icon img {
  width: 100%;
}
.whatsApp-features-heading {
  font-family: "Intro";
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  padding-left: 16px;
  margin-bottom: 0;
  max-width: 160px;
}
@media (max-width: 768px) {
  .whatsApp-features-heading {
    max-width: 100%;
    font-size: 16px;
    line-height: 22px;
    padding-left: 0;
    text-align: center;
    margin-top: 16px;
  }
}
.whatsApp-works {
  padding: 78px 0;
  background: linear-gradient(180deg, #FFF 0%, #F6F7FC 100%);
}
.whatsApp-works-title {
  font-family: "Intro";
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-transform: capitalize;
  color: #262626;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .whatsApp-works-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
    margin-top: 24px;
  }
}
.whatsApp-works-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.whatsApp-works-list li {
  display: flex;
  position: relative;
}
@media (max-width: 575px) {
  .whatsApp-works-list li {
    align-items: center;
  }
}
.whatsApp-works-list li:not(:last-child) {
  margin-bottom: 32px;
}
.whatsApp-works-list li:not(:last-child)::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 1px;
  background-color: #00A6CA;
  left: 12px;
  top: 28px;
}
@media (max-width: 768px) {
  .whatsApp-works-list li:not(:last-child)::before {
    height: 30px;
  }
}
@media (max-width: 575px) {
  .whatsApp-works-list li:nth-child(2)::before {
    height: 24px;
  }
}
.whatsApp-works-list li p {
  padding-left: 24px;
  font-family: "Intro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  color: #262626;
}
@media (max-width: 768px) {
  .whatsApp-works-list li p {
    font-size: 14px;
    line-height: 22px;
    padding-left: 12px;
  }
}
.whatsApp-works-list li p span {
  font-weight: 700;
}
.whatsApp-works-video {
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.whatsApp-works-video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.whatsApp-works-video .caption {
  color: #262626;
  font-family: "Intro";
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 26px;
}
@media (max-width: 768px) {
  .whatsApp-works-video .caption {
    font-size: 16px;
    line-height: 19px;
    margin-top: 12px;
  }
}/*# sourceMappingURL=style.css.map */